VITE_MYGPT_VERSION=1.0.3
VITE_REDIRECT_URI=http://localhost:3000/
VITE_POST_LOGOUT_REDIRECT_URI=http://localhost:3000/
VITE_SCOPES=User.Read
VITE_GRAPH_ME_ENDPOINT=microsoft-graph-endpoint-here
VITE_BACKEND_API=http://localhost:8000/
VITE_DEFAULT_LLM=gpt-oss:20b
VITE_MCP_SERVER_URL=http://localhost:5001/sse
VITE_MCP_SHOW_MCP_MENU=true
GENERATE_SOURCEMAP=false