*.log
.DS_Store
*.bin
backend/static/*
backend/media/*
backend/chroma_storage/*
backend/chroma/*
backend/data/data_chunks/*
!backend/data/data_chunks/MyGPT.txt
backend/data/pdfs/*
!backend/data/pdfs/MyGPT
backend/data/pdfs/MyGPT/*_highlighted.pdf
backend/.env
.env_backend
.env_frontend
google_colab_demo/static/*
static/*
data/*
.cnvrgignore
*.mp4
*.wav
.chroma/*
frontend/public/*.pdf
chroma/chroma_storage/*
*.pyc
.DS_Store
frontend/.env
frontend/.env.production
mydatabase
ollama/models/blobs/*
ollama/models/manifests/*
installation/macOS/prebuilt_images/data/*
installation/macOS/prebuilt_images/libraries/papers/*
installation/linux/prebuilt_images/data/*
installation/linux/prebuilt_images/libraries/papers/*
backend/final_table.txt
backend/generated_sql_query.txt
backend/chroma_context.txt
evaluation_dataset_frontend/node_modules/
frontend/.env.azure
backend/data/bm25_tokenizer/*
label_studio/data/*
backend/data/reranker/*
scripts/data/*
frontend/.env.*
frontend/.env.development
MCP-server/mygpt_backend.egg-info/*
backend/data/images/*
electron/node_modules/*
electron/release/*
electron/dist/*
electron/build/*
